<!DOCTYPE html>
<html lang="en">
<head>
    {% set bower = app.url ~ '/public/bower_components' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{% endblock %} - {{ app.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{bower}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style type="text/css">
    @media screen and (min-width:768px){
        .navbar-brand-centered {
            position: absolute;
            left: 50%;
            display: block;
            width: 160px;
            text-align: center;
            background-color: #eee;
        }
        .navbar>.container .navbar-brand-centered, 
        .navbar>.container-fluid .navbar-brand-centered {
            margin-left: -80px;
        }
        }    

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
          position: relative;
          min-height: 100%;
        }
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }


        </style>
        <script src="{{bower}}/jquery/dist/jquery.min.js"></script>
        <script src="{{bower}}/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div>
       <nav class="navbar navbar-default" role="navigation">
         <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-brand-centered"><a style="text-decoration: none;" href="{{app.url}}" title="Edit this into your app.ini file...">{{app.name|title}}</a></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling 
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>		        
      </ul>
      -->
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>	
{% block content %}
prova
{% endblock %}
</div>
<div class="footer">
  <div class="container text-center">
    <p>&nbsp;</p>
    <p class="text-muted">Copyright {{ "now"|date('Y', timezone="Europe/Rome") }} &copy; – Made with 💚 by <a href="http://you.canmakethat.com">Matteo Merola</a></p>
  </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>

