<!DOCTYPE html>
<html lang="en">
<head>
  {% set bower = app.url ~ '/public/bower_components' %}
  {% set css = app.url ~ '/public/css' %}
  {% set js = app.url ~ '/public/js' %}
  {% set img = app.url ~ '/public/img' %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{% endblock %} - {{ app.name }}</title>

  <link rel="fluid-icon" href="{{app.url}}/fluidicon.png" title="GitHub">
  <link rel="apple-touch-icon" sizes="57x57" href="{{img}}/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{img}}/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{img}}/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{img}}/apple-touch-icon-144.png">
  <link rel="icon" type="image/x-icon" href="{{app.url}}/favicon.ico?v=2">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta author="{{app.author|title}}">
  <link href="{{bower}}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{{bower}}/font-awesome/css/font-awesome.min.css" rel="stylesheet" id="fontawesome-css">
  <link href="{{bower}}/bootstrap-social/bootstrap-social.css" rel="stylesheet" id="bootstrap-social-css">
  <link href="{{css}}/navbarcentered.css" rel="stylesheet">
  <link href="{{css}}/stickyfooter.css" rel="stylesheet">
  <script src="{{bower}}/jquery/dist/jquery.min.js"></script>
  <script src="{{bower}}/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
   <nav class="navbar navbar-default" role="navigation">
     <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-centered"><a style="text-decoration: none;" href="{{app.url}}" title="Edit this into your app.ini file...">{{app.name|title}}</a></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <!-- <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>	 -->	        
      </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>	
{% block content %}
prova
{% endblock %}
<div class="footer">
  <div class="container text-center">
    <p>&nbsp;</p>
    <p class="text-muted">Copyright {{ "now"|date('Y', timezone="Europe/Rome") }} &copy; – Made with 💚 by <a href="http://you.canmakethat.com">Matteo Merola</a></p>
  </div>
</div>
<script type="text/javascript">
</script>
</body>
</html>

